# copy this file to: sudo cp /opt/qbitmgr/systemd/qbitmgr_watcher.service /etc/systemd/system/qbitmgr_watcher.service
# start service with: sudo systemctl start qbitmgr_watcher
# enable start at boot: sudo systemctl enable qbitmgr_watcher
# if you need to change the config file, restart the service with: sudo systemctl restart qbitmgr_watcher 


[Unit]
Description=qbitmgr_watcher
After=network-online.target

[Service]
User=$USER
Group=$USER
Type=simple
WorkingDirectory=/opt/qbitmgr
ExecStart=/usr/bin/python3 /opt/qbitmgr/qbitmgr.py watch
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
